/*
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Slabo 27px', serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Source Serif Pro', serif;
*/


@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;500&family=Open+Sans:ital,wght@0,500;1,500&family=Oswald:wght@400;500&family=PT+Sans&family=Raleway:wght@400;500&family=Roboto+Condensed:ital@0;1&family=Roboto+Slab:wght@400;500&family=Roboto:ital@0;1&family=Slabo+27px&family=Source+Sans+Pro&family=Source+Serif+Pro:wght@300;400&display=swap');

* {
    list-style: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    background-color: black;
}

/* navbar-start */
nav {
   
    font-family: 'Roboto Condensed', sans-serif;
}

nav .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(146,140,140);
}

nav .navbar .logo {
    margin: 7px 25px;
}

nav .navbar .logo a {
    display: flex;
    align-items: center;
}

nav .navbar .logo a img {
    height: 50px;
}

nav .navbar .logo a span {
    color: white;
    margin-left: 8px;
    font-size: 24px;
    font-weight: bold;
}

nav .navbar .navitem {
    margin-right: 25px;
}

nav .navbar .navitem ul {
    display: flex;
    align-items: center;
}

nav .navbar .navitem ul li {
    padding: 7px 12px;
    margin: 5px 15px;
}

nav .navbar .navitem ul li a {
    font-size: 22px;
}

nav .navbar .navitem ul li a i {
    color: white;
    margin: 0px 10px;
    font-size: 23px;
}

nav .navbar .navitem ul li a:hover i,
nav .navbar .navitem ul li a:hover span {
    color: #f89c1d;

}

nav .navbar .navitem ul li a {
    color: white;
}

.searchbox {
    border-radius: 50px;
    background-color: white;
    outline: none;
}

nav .navbar .navitem ul li input {
    border: none;
    outline: none;
    font-size: 15px;
    align-items: center;

}

.fa-magnifying-glass {
    background-color: #4285f4;
    padding: 7px;
    border-radius: 50px;
}

/* navbar-end */

/* Terms_Conditions start */
.main {
    background-color: black;
    color: rgba(255, 255, 255, 0.897);
    font-family: 'Source Sans Pro', sans-serif;
}

.main .heading h1 {
    text-align: center;
    padding-top: 25px;
}

.main .container .firstpara {
    margin: auto;
    margin-top: 30px;
    width: 1000px;
    font-size: 17px;
}

.main .container .secpara {
    margin: auto;
    margin-top: 30px;
    width: 1000px;
    font-size: 17px;
}

.main .container .thirdpara {
    margin: auto;
    margin-top: 30px;
    width: 1000px;
    font-size: 17px;
}

.tandc_footer {
    background-color: #242526;
    padding: 15px;
    text-align: center;
}

.fa-facebook {
    color: blue;
    font-size: 25px;
    padding-bottom: 13px;
}

.fa-facebook:hover {
    color: #353637;
}

.fa-instagram {
    color: palevioletred;
    font-size: 25px;
    padding-bottom: 13px;
    padding-left: 12px;
}

.fa-instagram:hover {
    color: #353637;
}

.fa-twitter {
    color: #4285f4;
    font-size: 25px;
    padding-bottom: 13px;
    padding-left: 12px;
}

.fa-twitter:hover {
    color: #353637;
}

/* Terms_Conditions end */

/*aboutus*/
.aboutus {
    background-color: black;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

.aboutus .container1 h1 {
    font-size: 50px;
    padding-top: 23px;
}

.aboutus .container1 {
    text-align: center;
}

.aboutus .container2 {
    display: flex;
}

.aboutus .container2 .photo {
    margin: 100px 170px;
}

.aboutus .container2 .para {
    margin-top: 135px;
    font-size: 22px;
    margin-right: 75px;
}
.aboutus_footer
{
    background-color: #242526;
    padding: 15px;
    text-align: center;
}

/*aboutus-end*/